.contacts {
  @include flexBetween;
}

.contactsLeft {
  width: 40%;
  padding-right: 2rem;
  text-align: right;

  h4 {
    font-size: 1.8rem;
  }

  svg {
    fill: $SLyellow;
  }
}

.phone {
  margin: 2rem 0;
}

.contactsRight {
  width: 60%;
}

#cursor {
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
  z-index: 1001;
}
