// HEADER SECTION
header {
  width: 100vw;
  height: 100vh;
}

.headerCopy {
  position: relative;
  font-size: 8rem;
  margin-top: 8rem;
  z-index: 10;
}

.headerImg {
  position: absolute;
  bottom: -.2rem;
  right: 0;
}

#headerOne {
  width: 18rem;
}

#headerTwo {
  width: 27rem;
}

#headerUnderline {
  position: absolute;
  top: 26rem;
  left: 8rem;
  width: 80rem;

  // draft
  display: none;
}

// LOSTUDIO SECTION
.studioLeft {
  text-align: left;
}

.studioRight {
  text-align: right;

  h2 {
    margin: $smallSpace 0;
  }
}

.compoLeft,
.compoRight {
  display: flex;
  margin: $smallSpace 0;
}


.redBox {
  background: $SLred;
  color: $SLwhite;
  text-align: justify;
  width: 30rem;
  height: 30rem;
  padding: 6rem;
  transform: translateY(10rem);
}

.boxLeft {
  margin-right: -10rem;
}

.boxRight {
  margin-left: -10rem;
}

.copyLeft {
  padding-right: 56rem;
}

.copyRight {
  padding-left: 56rem;
}

#studioLeft,
#studioRight {
  width: 90rem;
  height: 50rem;
}
