// HEADER SECTION
header {
  width: 100vw;
  height: 100vh;
}

.headerCopy {
  font-size: 8rem;
  margin-top: 8rem;
}

.headerImg {
  position: absolute;
  bottom: -.2rem;
  right: 0;
}

#headerOne {
  width: 18rem;
}

#headerTwo {
  width: 27rem;
}

#headerUnderline {
  position: absolute;
  top: 26rem;
  left: 8rem;
  width: 80rem;

  // draft
  display: none;
}

// LOSTUDIO SECTION
.studioLeft,
.studioRight {
  h2 {
    position: relative;
    z-index: 10;
  }
}

.studioLeft {
  text-align: left;
}

.studioRight {
  text-align: right;

  h2 {
    margin-top: $smallSpace;
  }
}

.compoLeft,
.compoRight {
  display: flex;
  margin: $smallSpace 0;
}


.redBox {
  background: $SLred;
  color: $SLwhite;
  text-align: justify;
  width: 34rem;
  height: 34rem;
  padding: 6rem;
  transform: translateY(10rem);

  @include flex-center;
}

.boxLeft {
  margin-right: -10rem;
}

.boxRight {
  margin-left: -10rem;
}

.copyRight,
.copyLeft {
  margin-bottom: $bigSpace;

  h3 {
    margin: 1rem 0 2rem;
  }

  p {
    margin: .5rem 0;
  }
}

.copyLeft {
  padding-right: 42rem;
}

.copyRight {
  padding-left: 42rem;
}

#studioLeft,
#studioRight {
  width: 85rem;
  height: 50rem;
  margin-bottom: $medSpace;
}

#studioUnderline,
#missionUnderline {
  position: relative;
  z-index: 1;
}

#studioUnderline {
  width: 34rem;
  transform: translate(-.5rem, -1.3rem);
}

#missionUnderline {
  width: 37rem;
  transform: translate(1.2rem, -1.3rem);
}
