#index {
  .container {
    display: flex;
  }
}

.indexLeft {
  width: 15vw;
}

.indexRight {
  width: 70vw;
  
  h1 {
    margin-top: -.6rem;
    width: 100%;
    text-align: right;
  }
}

.glassCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.glassCard {
  text-align: center;
  padding-bottom: 5rem;
  cursor: pointer;
}

.stickyFilter {
  position: fixed;
  
  h3 {
    padding-bottom: 6rem;
  }

  h4 {
    margin-top: .5rem;
    z-index: 10001;
    cursor: pointer;
  }

  svg {
    width: 1.5rem;
  }
}

#glassCardImg {
  width: 32rem;
}

// ACCORDION
.filterContent {

}

.afLabel {
  display: flex;
}