#show {
  height: 100vh;

  @include flexBetween;
}

.showLeft {
  width: 55vw;
  background: $SLblack;
  padding: 4rem;

  @include flexAlignCenter;

  .swiper-slide,
  img {
    margin: 0 auto;
    width: 64rem;
    text-align: center;
  }

  .swiper-container {
    z-index: 1001;
  }
}

.showRight {
  width: 45vw;
  padding: 4rem 6rem 4rem 4rem;

  h4 {
    letter-spacing: .1rem;
  }
}

.glassSku {
  margin: 3rem 0;
}

.glassPrice {
  margin: 3rem 0 8rem; 
}

.glassIcons {
  width: 100%;
  margin-top: 10rem;

  @include flexBetween;
  align-items: center;
}

.glassSocial {
  svg {
    width: 2rem;
    cursor: pointer;

    &:hover {
      fill: $SLyellow;
    }

    &:nth-child(1) {
      margin-left: 1rem;
    }
  }
}