// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:hover {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1000;
}

// 1rem = 10px
html {
  // font-size: 10px;
  font-size: 62.5%;
  overflow-x: hidden;
}

#bodyContent {
  min-height: 82vh;
}