<footer>
  <div class="container">
    <div class="footContent">
      <div class="footContacts">
        <h4>+39 011 531583</h4>
        <br>
        <h4>studio.otticaleone@gmail.com</h4>
        <div class="footSocial">
          <i data-feather="instagram"></i>
          <i data-feather="facebook"></i>
          <i data-feather="map-pin"></i>
        </div>
      </div>
      <div class="footAddress">
        <h4>Studio Leone Torino</h4>
        <h4>
          Piazza Statuto 5/A <br>
          1022, Torino (TO)
        </h4>
      </div>
      <div id="footShape"></div>
    </div>
  </div>
</footer>
