<footer>
  <div class="container">
    <div class="footContent">
      <div class="footContacts">
        <h4>+39 011 531583</h4>
        <br>
        <h4>studio.otticaleone@gmail.com</h4>
        <div class="footSocial">
          <%= link_to('https://www.instagram.com/studiotticoleone/', target: '_blank') do %>
            <i data-feather="instagram"></i>
          <% end %>
          <%= link_to('https://www.facebook.com/Studio-Ottico-Leone-557133564331753', target: '_blank') do %>
            <i data-feather="facebook"></i>
          <% end %>
          <%= link_to contatti_path do %>
            <i data-feather="map-pin"></i>
          <% end %>
        </div>
      </div>
      <div class="footAddress">
        <h4>Studio Leone Torino</h4>
        <h4>
          Piazza Statuto 5/A <br>
          1022, Torino (TO)
        </h4>
      </div>
      <div id="footShape"></div>
    </div>
  </div>
</footer>
