<footer>
  <div class="container">
    <div class="footContent">
      <div class="footContacts">
        <p>+39 3394840509</p>
        <p>f.santoriello@hotmail.com</p>
        <div class="footSocial">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fas fa-map-marker-alt"></i>
        </div>
      </div>
      <div class="footAddress">
        <h4>Studio Leone Torino</h4>
        <p>
          Piazza Statuto 5/A <br>
          1022, Torino (TO)
        </p>
      </div>
      <div id="footShape"></div>
    </div>
  </div>
</footer>
