<div class="container">
  <nav>
    <ul class="navLinks">
      <li><%= link_to 'Lo studio', "#{root_path}#loStudio" %></li>
      <li><%= link_to 'Servizi', "#{root_path}#servizi" %></li>
      <li><%= link_to 'Montature', glasses_path %></li>
      <li><%= link_to 'Contatti', '#' %></li>
    </ul>
  </nav>
</div>
