<section id="header">
  <div class="container">
    <header>
      <h1 class="headerCopy">
        Il tuo <br>
        Benessere visivo <br>
        E' la nostra <br>
        Priorita'.
      </h1>
      <%= image_tag('underline.png', id: 'headerUnderline') %>
      <div class="headerImg">
        <%= image_tag('homePrada.jpg', id: 'headerOne') %>
        <%= image_tag('homePrada2.jpg', id: 'headerTwo') %>
      </div>
    </header>
  </div>
</section>
