<section id="contacts">
  <div class="container">
    <div class="contacts">
      <div class="contactsLeft">
        <h3>Mettiti in contatto!</h3>
        <div class="phone">
          <i data-feather="phone-call"></i>
          <h4>+39 011 531583</h4>
        </div>
        <div class="mail">
          <i data-feather="mail"></i>
          <h4>studio.otticaleone@gmail.com</h4>
        </div>
      </div>
      <div class="contactsRight">
        <iframe
      width="100%"
      height="350"
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDL2fFXrjXKE0rWoh-LSwj4QcbreMptf_A
    &q=Piazza+Statuto+5/A+Torino">
        </iframe>
      </div>
    </div>
  </div>
</section>
