<div class="container">
  <header>
    <h1 class="headerCopy">
      Il tuo <br>
      Benessere visivo <br>
      E' la nostra <br>
      Priorita'.
      <%= image_tag('underline.svg', id: 'headerUnderline') %>
    </h1>
    <div class="headerImg">
      <%= image_tag('homePrada.jpg', id: 'headerOne') %>
      <%= image_tag('homePrada2.jpg', id: 'headerTwo') %>
    </div>
  </header>
</div>
