<div class="container">
  <span class="animatedBtn">Dummy text!</span>
  <p class="blur">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices vulputate dui, sit amet venenatis ipsum tristique eu. In dapibus a sem et posuere. Duis sed suscipit nisl. Nunc efficitur quis risus nec eleifend. Fusce efficitur pulvinar sagittis. In porttitor sem et condimentum condimentum. Sed viverra cursus purus nec faucibus. Sed consequat ullamcorper metus, at porta lacus ullamcorper in. Aliquam et est et arcu sollicitudin pulvinar. Aliquam erat volutpat. Aliquam erat volutpat. Aenean nec euismod enim. Sed dictum massa eu leo tempor, sed faucibus mi sagittis.
    <br>
    <br>
    Phasellus pellentesque euismod libero et eleifend. Aenean fermentum sem ut condimentum hendrerit. Etiam urna mi, commodo non sem convallis, faucibus finibus neque. Nulla non nulla at lorem pretium commodo. Nullam at porttitor mi, sed maximus lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent vitae lobortis sapien, vitae dignissim sapien. Proin in dui nec erat convallis malesuada. Praesent quis fermentum justo, vel sollicitudin quam. Curabitur eu interdum nisl. Pellentesque auctor turpis a risus vulputate mattis. Sed pretium erat in ipsum scelerisque, eget vehicula nibh lacinia.
  </p>
  <div class="optoTable">
    <h3>Studio ottico nel centro di Torino</h3>
    <div class="optoContent">
      <div class="optoLeft">
        <div class="optoRow">
          <h1>L</h1>
          <h1>E</h1>
        </div>
        <div class="optoRow">
          <h2>O</h2>
          <h2>N</h2>
          <h2>E</h2>
        </div>
        <div class="optoRow">
          <h3>S</h3>
          <h3>T</h3>
          <h3>U</h3>
          <h3>D</h3>
          <h3>I</h3>
          <h3>O</h3>
        </div>
        <div class="optoRow">
          <h4>O</h4>
          <h4>T</h4>
          <h4>T</h4>
          <h4>I</h4>
          <h4>C</h4>
          <h4>O</h4>
        </div>
      </div>
      <div class="optoLine"></div>
      <div class="optoRight">
        <div class="optoRow">
          <h1>E</h1>
        </div>
        <div class="optoRow">
          <h2>E</h2>
          <h2>E</h2>
        </div>
        <div class="optoRow">
          <h3>E</h3>
          <h3>E</h3>
          <h3>E</h3>
        </div>
        <div class="optoRow">
          <h4>E</h4>
          <h4>E</h4>
          <h4>E</h4>
        </div>
      </div>
    </div>
  </div>
</div>
