@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}
