<section id="index">
  <div class="container">
    <div class="indexLeft">
      <%= image_tag('pin.png', id: 'filterPin') %>
      <div class="stickyFilter">
        <h3>Filtri</h3>
        <div class="accordionFilter">
          <div class="filterContent">
            <div class="afLabel">
              <h4>Tipo</h4>
              <i data-feather="chevron-down"></i>
            </div>
            <div class="afContent">
              <p>#TODO: form</p>
            </div>
          </div>
          <div class="filterContent">
            <div class="afLabel">
              <h4>Genere</h4>
              <i data-feather="chevron-down"></i>
            </div>
            <div class="afContent">
              <p>#TODO: form</p>
            </div>
          </div>
          <div class="filterContent">
            <div class="afLabel">
              <h4>Brand</h4>
              <i data-feather="chevron-down"></i>
            </div>
            <div class="afContent">
              <p>#TODO: form</p>
            </div>
          </div>
          <div class="filterContent">
            <div class="afLabel">
              <h4>Montatura</h4>
              <i data-feather="chevron-down"></i>
            </div>
            <div class="afContent">
              <p>#TODO: form</p>
            </div>
          </div>
          <div class="filterContent">
            <div class="afLabel">
              <h4>Prezzo</h4>
              <i data-feather="chevron-down"></i>
            </div>
            <div class="afContent">
              <p>#TODO: form</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="indexRight">
      <div data-controller="refresh-list">
        <h1>I nostri occhiali</h1>
        <div data-refresh-list-target="list">
          <%= render 'list' %>
        </div>
        <div class="pagyNav"><%== pagy_nav(@pagy).html_safe%></div>
      </div>
    </div>
  </div>
</section>
