#form {
  height: 100vh;

  @include flexAround;
  @include flexAlignCenter;
}

// z-index > background
form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1001;
}

input {
  width: 45rem;
  margin-bottom: 1rem;
  padding: .3rem;

  &.boolean {
    width: 1rem;
    transform: scale(1.5);
    margin: .5rem 0 1.5rem .2rem;
  }
}

label {
  font-size: 1.2rem;
}

.boolean label {
    display: none;
}

#formTitle {
  @include flexAround;
  margin-bottom: 2rem;

  label {
    font-size: 1.4rem;
  }
}

#formBtn {
  border: none;
  padding: 1rem 0;
  background: $SLyellow;
  font-family: 'Optician-sans';
  cursor: pointer;

  &:hover {
    font-size: 1.6rem;
    padding: .9rem 0;
  }
}

#formBack {
  @include clicktrough;
}