#nav {
  height: 10vh;
  text-align: right;
  padding: 4rem 0 8rem 0;
  
  @include flexCenter;
}

.navLinks li {
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.2rem;

  &:hover {
    color: $SLred;
    font-size: 1.4rem;
    border-bottom: 1.5px $SLyellow solid;
  }
}

// #logo {
//   width: 8rem;
// }

#logoIcon {
  fill: $SLblue;

  svg {
    width: 2rem;
    height: 2rem;
  }
}